
<tr id="row-user-{{ user.id }}" class="user-row">
    <td id="row-user-{{user.id}}-username">{{user.username}}</td>
    <td id="row-user-{{user.id}}-created">{{user.created_date}}</td>
    <td id="row-user-{{user.id}}-last-login">{{user.last_login_date}}</td>
    <td id="row-user-{{user.id}}-admin">{{user.is_admin}}</td>
    <td id="row-user-{{user.id}}-banned">{{user.is_banned}}</td>
    <td id="row-user-{{user.id}}-comment">{{user.can_comment}}</td>
    <td id="row-user-{{user.id}}-wilt">{{user.wilt_enabled}}</td>
</tr>