/* Style for the background canvas */
.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Places it behind the foreground */
}

/* Style for the foreground content */
.foreground {
	position: relative;
	max-width: 1536px;
	z-index: 1; /* Places it above the canvas */
	background-color: transparent; /* Adjust transparency here */
	border-radius: 20px;
	margin: auto;
	width:95%;
	/* Other styles for spacing, margins, etc. */
}

.bodyContent {
	background-color: rgba(255, 255, 255, 0.692);
	border-radius: 10px;
	margin:10px 10%;
	padding: 10px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background:#27292a;
	overflow:hidden
}

.mainBar {
	margin:10px 10%;
	width:auto;
	background:#27292a;
	border-radius:15px;
}

.navBar {
	margin:10px 10%;
	background:#27292a;
	border-radius:15px;
	padding:15px 0px;
}

.footerBar {
	margin:10px 10%;
	border-radius:15px;
	background:#27292a;
	padding-top:15px;
}

@media screen and (max-width: 720px){
	.bodyContent {
		background-color: rgba(255, 255, 255, 0.692);
		border-radius: 10px;
		margin:10px 0px;
		padding: 10px 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background:#27292a;
	}
	
	.mainBar {
		margin:10px 0px;
		width:auto;
		background:#27292a;
		border-radius:15px;
	}
	
	.navBar {
		margin:10px 0px;
		background:#27292a;
		border-radius:15px;
		padding:15px 0px;
	}
	
	.footerBar {
		margin:10px 0px;
		border-radius:15px;
		background:#27292a;
		padding-top:15px;
	}
}

.my-text-lilac {
	color: #e6d7ff !important;
}

.my-lilac {
	color: #27292a !important;
	background-color: #e6d7ff !important;
}

.my-hover-lilac:hover {
	color: #27292a !important;
	background-color: #e6d7ff !important;
}

.w3-button:hover {
	color: #27292a !important;
	background-color: #e6d7ff !important;
}

.w3-input {
	background-color: grey;
	border-bottom: 1px solid #1f2122;
}

.simple_textarea {
	background-color: #27292a;
	border: none;
	resize: none;
	width: 100%;
	color: white;
}
.simple_textarea:focus {
	outline: none;
	border: none;
} 