.titlebar {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.titlebar .addplayer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titlebar .addplayer div{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 10px;
}
.titlebar .addplayer #playerName {
    flex-grow:1;
}
.players {
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 30px 5px 30px 5px;
    background-color: #aaa;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.players .player {
    display: flex;
    background-color: #888;
    border-radius: 5px 5px 5px 5px;
    flex-direction: row;
    margin: 5px 5px;
    flex-wrap: wrap;
    justify-content: center;
}
.players .player .name {
    background-color: #999;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 15px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.players .player .options {
    display: none;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    flex-wrap: wrap;
}
.players .player:hover .options {
    display: flex;

}
.players .player .options button {
    margin: 0px 5px;
}

@media screen and (max-width: 750px) {
    .players .player .options {
        display: flex;
    } 
}
