{% extends "nonzeta_template.html.jinja" %}
{% block title %} OMG Things! {% endblock %}
{% block body %}
<div id="main">
			<h2>My things!</h2>
			<p>What are things? well I am not really sure, they are just experiments.<br>
			Interactive experiences, or just experiences, or just interactions, or just things I want to share.
			</p>
			<h3>List of things:</h3>
			<div id="data-container" class="w3-panel w3-border w3-light-grey">
					<!-- Data will be inserted here -->
			</div>
			<div id="pagination-controls" class="w3-center w3-margin-top">
					<!-- Pagination buttons will be inserted here -->
			</div>
		<script>const data_endpoint = "thing_pages";</script>
		<script src="/static/simple_paginator.js"></script>
</div>
{% endblock %}