{% set page_type = "thing" %}
{% set page_id = thing.id %}
{% extends "main_template.html.jinja" %}
{% block extraHead%} <script src="{{ url_for('static', filename='bp_like_stuff.js') }}"></script> {% endblock %}
{% block page_title%}
<div class="w3-cell-row">
	<div class="w3-cell"><h2 style="margin:15px 0px;">{{title}}</h2></div>
	{% if current_user.is_authenticated %}
		<div class="w3-cell w3-cell-top w3-right-align w3-small">
			<a id="{{page_type}}-{{thing_id}}" href="javascript:bp_toggle_like_on_item('{{page_type}}-{{ thing_id }}', 'thing', {{thing_id}})">{% if UserLikedThis(current_user.id, page_type, thing_id) %}Unlike{% else %}Like{% endif%}</a>
			<a> { </a><a id="{{page_type}}-{{page_id}}-count">{{ getLikesForX(page_type, page_id)}}</a><a> }</a>
		</div>
	{% endif %}
</div>
{% endblock %}
{% block body %}
	{% block sub_body %}
	{% endblock %}
{% include "partials/comments.html.jinja" %}
{% endblock %}