
<div id="comment-{{ comment.id }}" class="w3-container my-comment{% if comment.is_reply %}-reply{% elif comment.proto %}${ isreply ? '-reply' : '' }{%endif%}">
	<div class="w3-cell-row">
			<div class="w3-cell"><a id="comment-{{ comment.id }}-user" class="w3-small" href="{{ comment.username|e }}/profile">{{ comment.username|e }}</a></div>
			<div class="w3-small w3-cell w3-right-align">
					{% if current_user.is_authenticated %}<a id="comment-{{ comment.id }}-like" href="javascript:bp_toggle_like_on_item('comment-{{ comment.id }}-like', 'comment', {{ comment.id }}, 'comment-{{ comment.id }}-count')">
					{% if UserLikedThis(current_user.id, 'comment', comment.id) %}Unlike{% else %}Like{% endif%}
					</a>{% endif %}
					<div> { <a id="comment-{{ comment.id }}-count">{{ getLikesForX('comment', comment.id) }}</a> }</div>
			</div>
	</div>
	<div class="w3-content">
			<p id="comment-{{ comment.id }}-body">{{ comment.body|e }}</p>
	</div>
	<div class="w3-cell-row" style="margin-bottom:5px;">
			{% if current_user.is_authenticated %}<div class="w3-cell w3-small"><a href="javascript:show_add_comment_area('comment', '{{ comment.id }}');">reply</a></div>{% endif %}
	<div id="comment-{{ comment.id }}-loadreplies" data-page="0" data-pagetype="comment" data-pageid="{{ comment.id }}" class="w3-cell w3-small w3-right-align w3-cell-bottom"
		{% if comment.proto %}style="display:none;" {% elif CommentHasReplies(comment.id) %} {% else %} style="display:none;"{% endif %}>
		<a href="javascript:load_more_replies({{ comment.id }});">Load replies</a>
	</div>
	</div>
</div>