{% extends "nonzeta_template.html.jinja" %}
{% set title = "Link your spotify account" %}
{% block body %}
<p>Please click the link below to connect your spotify account.</p>
<a href="{{auth_url}}">Click here.</a>
{% endblock %}
