
<div class="w3-cell-row w3-auto w3-padding w3-margin w3-card" style="border-radius:15px;">
	
	<div class="w3-cell w3-auto w3-center w3-margin w3-padding">
		<a href="{{url_for("scrabble_ge.scrabble_play")}}">
		<button class="w3-button my-hover-lilac w3-border" style="font-size:large;width:100%;border-radius:15px;">Play</button>
		</a>
	</div>

	<div class="w3-cell w3-auto w3-center w3-margin w3-padding">
		<a href="{{url_for("scrabble_ge.scrabble_rules")}}">
		<button class="w3-button my-hover-lilac w3-border" style="font-size:large;width:100%;border-radius:15px;">Rules</button>
		</a>
	</div>

	<div class="w3-cell w3-auto w3-center w3-margin w3-padding">
		<a href="{{url_for("scrabble_ge.scrabble_index")}}">
		<button class="w3-button my-hover-lilac w3-border" style="font-size:large;width:100%;border-radius:15px;">Post</button>
		</a>
	</div>
</div>