{% extends "admin_area/admin_template.html.jinja" %}
{% set page_type, page_id, title = "admin", 1, "Thing view" %}

{% block body %}

<div class="w3-container">
<table class="w3-card my-neat-table">
	<tr>
		<th>Title</th>
		<th>Status</th>
		<th>Type</th>
		<th>Created</th>
		<th>Actions</th>
	</tr>
	{% for thing in things %}
	<tr id="thing-{{ thing.id }}">
		<td>{{ thing.title }}</td>
		<td>{{ thing.status }}</td>
		<td>{{ thing.type }}</td>
		<td>{{ thing.created_date }}</td>
		<td class="w3-center">
			<a href= "{{ url_for('admin_area.admin_area_edit_thing', id=thing.id) }}"
			class="w3-button w3-lilac w3-hover-deep-purple">Edit</a>
			<a href="javascript:delete_thing('{{thing.id}}');"
			class="w3-button w3-lilac w3-hover-deep-purple">Delete</a>
		</td>
	</tr>
	{% endfor %}

</table>
</div>
<script>

async function delete_thing(thing_id)
{
	const response = await fetch(`{{ url_for('admin_area.admin_area_home') }}delete_thing/${thing_id}`, {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		}
	});
	const data = await response.json();
	if (data.status == 'success')
	{
		document.getElementById(`thing-${thing_id}`).remove();
	}
	else
	{
		console.error(data.message);
	}
}

</script>
{% endblock %}

