<div class="w3-auto" style="width:{{ canvas_width if canvas_width is defined else 300 }}px;">
	<canvas id="drawingCanvas" width="{{ canvas_width if canvas_width is defined else 300 }}" height="{{ canvas_height if canvas_height is defined else 300}}"
		style="border: 1px solid black;background-color:{{ canvas_background if canvas_background is defined else 'white' }};"></canvas>
		<br/>
	<div class="w3-row"> <!-- need to give this a second pass? --> 
		<div class="w3-half">
			<button class="w3-button my-hover-lilac" style="width:100%;"
			onclick="javascript:set_draw_mode();">draw</button>
		</div>
		<div class="w3-half">
			<button class="w3-button my-hover-lilac" style="width:100%;"
			onclick="javascript:set_erase_mode();">erase</button>
		</div>
	</div>
	<div class="w3-row">
		<div style="width:100%;">
			<button class="w3-button my-hover-lilac" style="width:100%;"
			onclick="javascript:clear_canvas();">clear</button>
		</div>
	</div>
	<script src="static/drawable_canvas.js"></script>
</div>