{# <!-- This will allow the flask flash code to work, the way these flash messages are displayed can be configured here --> #}
{# <!-- to include use {% include partials/flash.html %} --> #}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
	<!-- {{ messages }} -->
	<div class="w3-container w3-auto w3-card" style="margin:10px 10%;background:#27292a;border-radius:15px;">
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="flash-{{category}}">{% if category == "error" %}<img src="/static/oops.gif" style="margin-right:5px;"/>{% endif %}{{ message }}</li>
    {% endfor %}
    </ul>
	</div>
  {% endif %}
{% endwith %}