
<!-- Footer -->
<footer class="zeta-hideable w3-card w3-container w3-center w3-opacity w3-xlarge w3-text-white footerBar" >
  <a href="https://www.instagram.com/schizomaxing"><i class="fa fa-instagram w3-hover-opacity w3-text-white"></i></a>
	<a href="https://github.com/H-R-B-Y"><i class="fa fa-github w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/harvey-breeze-b97586240/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
