
<div id="fav-colour-view" class="w3-cell-row w3-auto">
	<div class="w3-cell w3-card w3-padding" style="border-radius:15px;">
		<div class="w3-border-bottom w3-margin-bottom">
			This user's favourite colour is:
		</div>
		<div class="w3-auto w3-margin w3-center" style="background-color: {{user.colour_to_hex()}};border-radius: 15px;">
			<a>{{user.colour_to_hex()}}</a>
		</div>
	</div>
</div>
