{% extends "main_template.html.jinja" %}
{% set title = "Breezyparks.com" %}
{% block page_title %} <h2>Welcome, to BreezyParks!</h2> {% endblock %}
{% block body %}
<div id="main">
	<p>This is a website I wanted to make for me to better understand the technology I use on a daily basis, more information here: <a href="/post/1">welcome post.</a></p>
	<p>
	There may not be much to look at or do here yet, but be sure to check back in as I have some plans :)
	</p>
	{% if current_user.is_authenticated %}<p class="w3-small">Please ignore the hamster(s).</p>{% endif %}
</div>
{% endblock %}