{% extends "zetaTemplate.html.jinja" %}
{% block body %}

<div id="main">
  <p>Site under construction!</p>
  <p>
  Please be aware account registration is not secure at this point.
  Any and all accounts created using the current registration system will be removed without warning when account authentication is implemented.
  </p>
</div>

{% endblock %}