{% extends "main_template.html.jinja" %}
{% set title = "Breezyparks.com" %}
{% block page_title %} <h2>Welcome, </h2> {% endblock %}
{% block body %}
<div id="main">
  <p>Site currently under construction!</p>
  <p>
	I don't know what to write on the index page.<br>
	Maybe have a look at some of these:
  </p>
	<ul>
	<li>Put</li>
	<li>some</li>
	<li>things</li>
	<li>here?</li>
	</ul>
	{% if current_user.is_authenticated %}<p class="w3-small">Please ignore the hamster.</p>{% endif %}
</div>

{% endblock %}