{% extends "nonzeta_template.html.jinja" %}
{% set hideable_content = true %}
{% block extraHead %}
	<script src="https://pixijs.download/release/pixi.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
{% endblock %}
{% block background%}
{% if prevent_zeta is not defined %}{% if current_user.is_authenticated %}
	<div class="background">
		<canvas id="zetaCanvas" data-userid="{{ current_user.username }}"></canvas>
		<script src="{{ url_for('static', filename='zetaSocketIO.js')}}"></script>
	</div>
{% endif %}{% endif %}
{% endblock %}
