{% extends "nonzeta_template.html.jinja" %}
{% set hideable_content = true %}
	{% block head %}
		{% include "partials/basic_head.html.jinja" %}
		<script src="https://pixijs.download/release/pixi.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>
	{% endblock %}
{% block background%}
{% if prevent_zeta is not defined and current_user.is_authenticated %}
	{% if zeta_ver is not defined or zeta_ver == "1" %}
	<div class="background" style="background:#1f2122;">
		<canvas id="zetaCanvas" data-userid="{{ current_user.username }}" style="background:#1f2122;display:none;"></canvas>
		<script src="/static/scripts/zeta_parents/zeta_player.js"></script>
		{% if zeta_script is not defined%}
		<script src="/static/scripts/zetaSocketIO.js"></script>
		{% else %}
		<script src="{{zeta_script}}"></script>
		{% endif %}
	</div>
	{% endif %}
{% endif %}
{% endblock %}
