
{{ "<!DOCTYPE html>" }}
<html lang="en">
<head>
	{% block head %}
		{% include "partials/basic_head.html.jinja" %}
	{% endblock %}
	{% block extraHead %}
	{% endblock %}
	<script>
		const user_loggedin = {{ current_user.is_authenticated|lower }};
		const username = "{{current_user.username}}";
		const userid = "{{current_user.id}}";
	</script>
</head>
{% block page %}
	<body class="w3-text-white " style="background:#1f2122;">
		{% block background%}{% endblock %}
		{% block foreground %}
			<div id="foreground" class="foreground">
				{% include "partials/flash.html.jinja" %}
				{% block header %} {% include "partials/header.html.jinja" %} {% endblock %}
				<div class="bodyContent w3-container w3-card  zeta-hideable">
					<div id="main-content" class="w3-margin-bottom">
					{% block page_title%}
						<h2 style="margin:15px 0px;">{{title}}</h2>
					{% endblock %}
					{% block body %}
							<div id="main-body">
								<p>Hello World</p>
							</div>
					{% endblock %}
					</div>
				</div>
				{% block footer %} {% include "partials/footer.html.jinja" %}  {% endblock %}
				<div id="main" class="w3-container w3-margin-bottom"></div>
			</div> 
		{% endblock %}
	</body>
{% endblock %}
{% if hideable_content == true %}
<script>
var content_hidden = false;
function zeta_toggle_content()
{
	let items = document.getElementsByClassName("zeta-hideable");
	for (let i = 0; i < items.length; i++)
	{
		items[i].style.visibility = !content_hidden ? 'hidden' : 'visible';
	}
	content_hidden = !content_hidden;
}
</script>
{% endif %}
</html>