{% extends "nonzeta_template.html.jinja" %}
{% block extraHead%} <script src="/static/scripts/bp_like_stuff.js"></script> {% endblock %}
{% if user is not defined %}{% set user = current_user %}{% set myprofile = true %}{% endif %}
{% set username = getUsername(user) %}
{% set likedthings = getUserLikedCount(username)%}
{% set page_type, page_id = "profile", user.id %}
{% block body %}
	<div id="main" class="w3-container w3-margin-bottom">
		{% if current_user.is_authenticated and current_user.is_admin %}
			{% include "admin_area/partials/admin_profile_header.html.jinja" %}
		{% endif %}
		<div class="w3-cell-row"> 
			<div class="w3-cell"><h2>{{ username }}</h2></div>
			<div class="w3-cell w3-cell-top w3-right-align">
				{% if myprofile is true %}
					<a class="w3-small">
						Profile likes recieved: {{ getLikesForX("profile", user.id) }}
					</a>
				{% else %}
					{% if user.id != current_user.id and current_user.is_authenticated %}
					<a id="profile-{{ user.id }}" href="javascript:bp_toggle_like_on_item('profile-{{ user.id }}', 'profile', {{ user.id}})">{% if UserLikedThis(current_user.id, "profile", user.id) %}Unlike{% else %}Like{% endif%}</a><a> { </a><a id="{{page_type}}-{{page_id}}-count">{{ getLikesForX(page_type, page_id)}}</a><a> }</a>
					{% elif not current_user.is_authenticated%}
						<a> { </a><a id="{{page_type}}-{{page_id}}-count">{{ getLikesForX(page_type, page_id)}}</a><a> }</a>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% if user.wilt_enabled and user.spotify_token is not none %}{% include "spotify_stuff/partials/wilt.html.jinja"%}{% endif %}
		{% if myprofile is true %}
			{% set colour_picker_text = "What is your favourite colour: "%}
			{% set colour_picker_default_value = user.colour_to_hex()%}
			{% set colour_picker_callback = "setFavColour()"%}
			{% include "partials/colour_picker.html.jinja" %}
			<script>
				async function setFavColour ()
				{
					let picker = document.getElementById(picker_id);
					const resp = await fetch("/profile/set_colour", {
							method : "POST",
							headers : {
								'Content-Type' : "application/json",
							},
							body : JSON.stringify({
								"colour" : picker.value
							})
					});
					if (resp.ok)
					{
						const jsresp = await resp.json();
						if (jsresp.status === "error")
						{
							// NOTE: fix this later to be more informative!
							throw new Error(jsresp.message);
						}
					}
				}
			</script>
		{% else%}
			{% include "partials/profile_fav_colour.html.jinja"%}
		{% endif %}
		<p>More here soon!</p>
		{% if myprofile is true%}
		<a href="/profile/update">Edit Profile</a>
		<br/>
		<br/>
		<a href="/logout">Logout</a>{% endif %}
	</div>
{% endblock %}