{% extends "zetaTemplate.html.jinja" %}
{% block extraHead %}
  <link rel="stylesheet" href="{{ url_for('static',filename='scoreboard.css') }}"/>
{%endblock%}
{% block body %}
  <div class="titlebar">
    <h1>Score tracker</h1>
    <div class="addplayer">
      <div><input type="text" id="playerName" placeholder="Enter player name."/>
      <button onclick="addPlayer()">Add Player</button></div>
      <button  onclick="orderedSort()">Sort List</button>
    </div>
  </div>
  <div class='players' id="playersList"></div>
  <script src="{{ url_for('static', filename='scoreboard.js') }}"></script>
{% endblock %}