{% extends "main_template.html.jinja" %}
{% block body %}

<div id="main">
	<p>Work in progress!</p>
	<p>
	This page is a placeholder, please come back later for more info.
	</p>
</div>

{% endblock %}